// fonts
$font-bold: 'Montserrat-Bold', sans-serif;
$font-semiBold: 'Montserrat-SemiBold', sans-serif;
$font-medium: 'Montserrat-Medium', sans-serif;

// text's colors
$color-white: #fff;
$color-black: #000000;

// main colors
$color-primary: #4cc689;
$color-bg: #363636;
