.weather-today {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.weather-today__info {
  display: flex;
  gap: 10px;
  font-family: $font-semiBold;
  font-size: 18px;
  line-height: 22px;
}

.weather-today__info-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 18px;
  background-color: $bg-btn;
  color: $color-white;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-transform: uppercase;
  margin: 10px 0;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in;
    z-index: -1;
  }
  &:hover:before {
    transform: scaleX(1);
  }
  &:active:before {
    transform: scaleX(1);
    transform-origin: right;
  }
}
.weather-today__info-btn--hide {
  background-color: rgb(58 85 89 / 50%);
}
.weather-today__info-city--icon {
  width: 20px;
}
.weather-today__info-data--degree {
  font-family: $font-bold;
}

.weather-today__info-icon {
  width: 50px;
  height: 50px;
}

.weather-today__details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.weather-today__details-detail {
  display: flex;
  align-items: center;
  gap: 15px;
}
.weather-today__details-text {
  min-width: 100px;
}
